body{
  font-family: "Montserrat";
}

.header {
  background: #0d171d;
}

.container {
  max-width: 1208px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;

  position: relative;
}

.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 185px;
  height: 81px;
}

.header__search {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 1000px;
  border: 1px solid rgba(250, 250, 250, 0.3);
  background: transparent;
}

.hero {
  background: #0d171d;
  padding-top: 100px;
  padding-bottom: 86px;
  border-radius: 0px 0px 100px 100px
}

.hero__title {
  color: #fafafa;
  font-size: 100px;
  font-weight: 600;
}

.hero__subtitle {
  color: #fafafa;
  font-size: 16px;
  font-weight: 400;
  max-width: 482px;
  margin-top: 16px;
}

.hero__button-back {
  display: inline-flex;
  padding: 12px 24px;
  align-items: flex-start;
  gap: 10px;

  color: #fafafa;
  font-size: 14px;
  font-weight: 600;
  margin-top: 44px;

  border-radius: 1000px;
  border: 1px solid rgba(250, 250, 250, 0.3);
}

.hero__img {
  width: 486px;
  height: 525px;
}

.hero__box-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 132px;
}

/* .buttons {
  height: 137px;
}

.buttons__img {
  width: 1440px;
  position: absolute;
  top: -52;
  left: -90;
} */

.buttons__btn {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  border-radius: 25px;
  border: none;
  padding: 14px 24px;
}

.buttons__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 128px;
}

.buttons__item:nth-child(1) .buttons__btn{
  color: #111;
  background-color: #A1D737;
  transform: translate(-127px, -10px);
  margin-left: 70px;
}

.buttons__item:nth-child(2) .buttons__btn{
  color: #111;
  background-color: #DAF836;
  transform: rotate(31.266deg) translate(-225px, 95px);
}

.buttons__item:nth-child(3) .buttons__btn{
  color: #A1D737;
  background-color: #0D171D;
  transform: rotate(17.072deg) translate(-200px, 85px);
}

.buttons__item:nth-child(4) .buttons__btn{
  color: #111;
  background-color: #DAF836;
  transform: rotate(132.001deg) translate(180px, 170px);
}

.buttons__item:nth-child(5) .buttons__btn{
  color: #111;
  background-color: #DAF836;
  transform: rotate(34.61deg) translate(-90px, 70px);
}

.buttons__item:nth-child(6) .buttons__btn{
  color: #111;
  background-color: #DAF836;
  transform: rotate(148.834deg) translate(-45px, -35px);
}

.buttons__item:nth-child(7) .buttons__btn{
  color: #FAFAFA;
  background-color: #0D171D;
  margin-left: 90px;
  transform: translate(-190px, -9px);
}

.buttons__item:nth-child(8) .buttons__btn{
  color: #111;
  background-color: #A1D737;
  transform: translate(-180px, -9px);
  flex-shrink: 0;
}

.buttons__item:nth-child(9) .buttons__btn{
  color: #111;
  background-color: #A1D737;
  transform: rotate(180deg) translate(40px, 9px);
}

.buttons__item:nth-child(10) .buttons__btn{
  color: #FAFAFA;
  background-color: #0D171D;
  transform: translate(-65px,-9px);
}

.buttons__item:nth-child(11) .buttons__btn{
  color: #DAF836;
  background-color: #0D171D;
  transform: rotate(180deg) translate(45px, 9px);
}

.buttons__item:nth-child(12) .buttons__btn{
  color: #111;
  background-color: #A1D737;
  transform: rotate(180deg) translate(-95px, 9px);
}

.episodes__label {
  color: #111;
  font-size: 14px;
  font-weight: 400;
}

.episodes__input {
  box-sizing: border-box;
  padding: 16px 24px;
  border-radius: 100px;
  border: 1.5px solid #111;
  background: #daf836;
}

.episodes__input::placeholder {
  color: #111;
  font-size: 16px;
  font-weight: 400;
}

.episodes__list-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-top: 79px;
}

.episodes__item-inputs{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.episodes__select {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 44px;

  border-radius: 100px;
  border: 1.5px solid #111;

  color: #111;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
}

.episodes__item-type {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 284px;
  width: 100%;
  justify-content: space-between;

  height: 200px;
  border: 1px solid greenyellow;
  border-radius: 9px;
  background: url(../img/card-background.png) rgb(27, 27, 27);
}

.episodes__title-type {
  color: #a1d737;
  font-size: 16px;
  font-weight: 600;
}

.episodes__list-type {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 64px;
}

.episodes__button-more {
  display: block;
  padding: 12px 24px;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;

  border-radius: 1000px;
  background: #a1d737;

  color: #0d171d;

  font-size: 14px;
  font-weight: 600;
  border: none;
  margin-top: 76px;
  margin-bottom: 140px;
}

.episodes__title-gray {
  color: rgba(250, 250, 250, 0.5);
  font-size: 12px;
  font-weight: 400;
}

.episodes__subtitle-season,
.episodes__subtitle-date {
  color: #fafafa;
  font-size: 14px;
  font-weight: 400;
}

.episdoes__box-flex {
  display: flex;
  gap: 17px;
}

.footer {
  margin-top: 64px;
  position: relative;
  background: #0d171d;
}

.footer__button-one {
  display: flex;
  width: 153px;
  height: 49px;
  padding: 14px 24px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;

  border-radius: 25px;
  background: #a1d737;
  border: none;

  color: #111;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.44px;

  transform: translate(-70px, 50px);
}

.footer__button-two {
  display: flex;
  width: 125px;
  height: 49px;
  transform: rotate(32.083deg) translate(30px, -30px);
  padding: 14px 24px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;

  border-radius: 25px;
  background: #daf836;
  border: none;

  color: #111;
  font-family: "Montserrat";
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0.44px;
}

.footer__text {
  color: #fafafa;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
}

.footer__networks {
  width: 36px;
  height: 36px;
}

.footer__btn-network {
  border: 1px solid rgba(17, 17, 17, 0.2);
  padding: 10px;
  border-radius: 15px;
}

.footer__privacy {
  color: rgba(250, 250, 250, 0.4);
  text-align: center;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
}

.footer__btn-networks {
  display: flex;
  gap: 32px;
}

.footer__box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 308px;
  margin-bottom: 128px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__rick-img {
  position: absolute;
  top: -33;
  left: 50;

  width: 99px;
  height: 84px;
}
