.modal__index {
  border-radius: 18px;
  background: #0d171d;
  width: 335px;
  height: auto;
  padding: 40px 20px 20px 20px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  // position: fixed;

  @media screen and (min-width: 768px) {
    border-radius: 18px;
    background: #0d171d;
    width: 710px;
    height: auto;
    padding: 32px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    gap: 0;
    position: fixed;
    left: 25%;
    top: 25%;
  }
}

.modal__img-index {
  width: 278px;
  height: 292px;
  border-radius: 20px;
  border: 2px solid #adff2f;
}

.modal__descr-gray {
  color: rgba(250, 250, 250, 0.5);
  font-size: 12px;
  font-weight: 400;
}

.modal__descr-white {
  color: #fafafa;
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;

  @media screen and (min-width: 768px) {
    color: #fafafa;
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
  }
}

.modal__ul-descr {
  display: flex;
  border: 2px solid greenyellow;
  padding: 16px;
  gap: 16px;
  max-width: 246px;
  flex-wrap: wrap;
  border-radius: 20px;
  margin-top: 8px;
}

.modal__index-title {
  color: #fafafa;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    color: #fafafa;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
  }
}

.modal__episodes-title {
  color: #a1d737;
  font-size: 14px;
  font-weight: 600;
}

.modal__episodes-gray {
  color: rgba(250, 250, 250, 0.5);
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 4px;
}

.modal__episodes-white {
  color: #fafafa;
  font-size: 14px;
  font-weight: 400;
}

.modal__list-flex {
  display: flex;
  justify-content: space-between;
}

.modal__item-flex {
  display: flex;
  flex-direction: column;
}

.modal__list-margin {
  margin-right: 14px;
}

.modal__item-episodes {
  border: 2px solid greenyellow;
  border-radius: 20px;
  padding: 16px;
  width: 295px;

  @media screen and (min-width: 768px) {
    border: 2px solid greenyellow;
    border-radius: 20px;
    padding: 16px;
    width: 352px;
  }
}

.modal__list-episodes {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__box-flex2 {
  margin-left: 16px;
}

.modal__item-space {
  display: flex;
}

.modal__close {
  width: 22px;
  height: 22px;
  fill: greenyellow;
}

.characters-is-hidden {
  display: none;
}

.modal__close-btn {
  background-color: transparent;
  position: absolute;
  left: 335;
  top: 10;
  border: none;

  @media screen and (min-width: 768px) {
    left: 735;
    top: 10;
  }
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}
