.hero {
    background: #0d171d;
    padding-bottom: 112px;
    border-radius: 0px 0px 100px 100px;
  }
  
  .hero__text {
    color: #fafafa;
    max-width: 311px;
    font-size: 16px;
    font-weight: 400;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .hero__list-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .hero__rick {
    width: 532px;
    height: auto;
    flex-shrink: 0;
  }
  
  .hero__logo {
    width: 460px;
    height: auto;
  }
  
  .hero__box {
    display: flex;
  }
  
  .hero__scroll-down {
    width: 80px;
    height: 80px;
    background: transparent;
    border: 1px solid #fafafa80;
    border-radius: 100%;
    margin-left: auto;
    margin-top: auto;
  }