body {
  font-family: "Montserrat";
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 335px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;

  @media screen and (min-width: 480px) {
    max-width: 736px;
    padding-left: 16px;
    padding-right: 16px;
  }

  @media screen and (min-width: 768px) {
    max-width: 1208px;
  }
}
