body {
  font-family: Montserrat;
}

.header {
  background: #0d171d;
}

.container {
  outline: 1px solid red;
  max-width: 1208px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
}

.header__box {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header__logo {
  width: 185px;
  height: 81px;
}

.header__search {
  background: none;
  border: 1px solid #fafafa4d;
  border-radius: 1000px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  display: flex;
}

.hero {
  background: #0d171d;
  border-radius: 0 0 100px 100px;
  padding-top: 100px;
  padding-bottom: 86px;
}

.hero__title {
  color: #fafafa;
  font-size: 100px;
  font-weight: 600;
}

.hero__subtitle {
  color: #fafafa;
  max-width: 482px;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
}

.hero__button-back {
  color: #fafafa;
  border: 1px solid #fafafa4d;
  border-radius: 1000px;
  align-items: flex-start;
  gap: 10px;
  margin-top: 44px;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 600;
  display: inline-flex;
}

.hero__img {
  width: 486px;
  height: 525px;
}

.hero__box-flex {
  justify-content: center;
  align-items: center;
  gap: 132px;
  display: flex;
}

.buttons__list {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 128px;
  display: flex;
}

.buttons__btn {
  border: none;
  border-radius: 25px;
  padding: 14px 24px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
}

.buttons__item:first-child .buttons__btn {
  color: #111;
  background-color: #a1d737;
  margin-left: 70px;
  transform: translate(-127px, -10px);
}

.buttons__item:nth-child(2) .buttons__btn {
  color: #111;
  background-color: #daf836;
  transform: rotate(31.266deg)translate(-225px, 95px);
}

.buttons__item:nth-child(3) .buttons__btn {
  color: #a1d737;
  background-color: #0d171d;
  transform: rotate(17.072deg)translate(-200px, 85px);
}

.buttons__item:nth-child(4) .buttons__btn {
  color: #111;
  background-color: #daf836;
  transform: rotate(132.001deg)translate(180px, 170px);
}

.buttons__item:nth-child(5) .buttons__btn {
  color: #111;
  background-color: #daf836;
  transform: rotate(34.61deg)translate(-90px, 70px);
}

.buttons__item:nth-child(6) .buttons__btn {
  color: #111;
  background-color: #daf836;
  transform: rotate(148.834deg)translate(-45px, -35px);
}

.buttons__item:nth-child(7) .buttons__btn {
  color: #fafafa;
  background-color: #0d171d;
  margin-left: 90px;
  transform: translate(-190px, -9px);
}

.buttons__item:nth-child(8) .buttons__btn {
  color: #111;
  background-color: #a1d737;
  flex-shrink: 0;
  transform: translate(-180px, -9px);
}

.buttons__item:nth-child(9) .buttons__btn {
  color: #111;
  background-color: #a1d737;
  transform: rotate(180deg)translate(40px, 9px);
}

.buttons__item:nth-child(10) .buttons__btn {
  color: #fafafa;
  background-color: #0d171d;
  transform: translate(-65px, -9px);
}

.buttons__item:nth-child(11) .buttons__btn {
  color: #daf836;
  background-color: #0d171d;
  transform: rotate(180deg)translate(45px, 9px);
}

.buttons__item:nth-child(12) .buttons__btn {
  color: #111;
  background-color: #a1d737;
  transform: rotate(180deg)translate(-95px, 9px);
}

.find__list-inputs {
  justify-content: center;
  align-items: center;
  gap: 16px;
  display: flex;
}

.find__item-inputs {
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  display: flex;
}

.find__label {
  color: #111;
  font-size: 14px;
  font-weight: 400;
}

.find__inputs {
  color: #111;
  background: #daf836;
  border: 1.5px solid #111;
  border-radius: 100px;
  justify-content: center;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 400;
}

#find__status, #find__species, #find__type, #find__gender {
  color: #111;
  border: 1.5px solid #111;
  border-radius: 100px;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 400;
}

.characters__img {
  border: 2px solid #a1d737;
  border-radius: 18px;
  width: 278px;
  height: 314px;
}

.characters__name {
  color: #111;
  margin-top: 19px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
}

.characters__subtitle-gray {
  color: #11111180;
  font-size: 14px;
  font-weight: 400;
}

.characters__subtitle {
  color: #111;
  font-size: 14px;
  font-weight: 400;
}

.characters__box {
  gap: 9px;
  display: flex;
}

.characters__list {
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-top: 64px;
  display: flex;
}

.characters__item {
  margin-bottom: 74px;
}

.characters__btn-load {
  color: #0d171d;
  background: #a1d737;
  border: none;
  border-radius: 1000px;
  align-items: flex-start;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 600;
  display: block;
}

.footer {
  background: #0d171d;
  margin-top: 64px;
  padding: 16px;
  position: relative;
}

.footer__button-one {
  color: #111;
  letter-spacing: .44px;
  background: #a1d737;
  border: none;
  border-radius: 25px;
  flex-shrink: 0;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  width: 153px;
  height: 49px;
  padding: 14px 24px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  transform: translate(-70px, 50px);
}

.footer__button-two {
  color: #111;
  letter-spacing: .44px;
  background: #daf836;
  border: none;
  border-radius: 25px;
  flex-shrink: 0;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  width: 125px;
  height: 49px;
  padding: 14px 24px;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 600;
  display: flex;
  transform: rotate(32.083deg)translate(30px, -30px);
}

.footer__text {
  color: #fafafa;
  letter-spacing: .16px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
}

.footer__networks {
  width: 36px;
  height: 36px;
}

.footer__btn-network {
  border: 1px solid #1113;
  border-radius: 15px;
  padding: 10px;
}

.footer__privacy {
  color: #fafafa66;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
}

.footer__btn-networks {
  gap: 32px;
  display: flex;
}

.footer__box {
  justify-content: center;
  align-items: center;
  gap: 308px;
  margin-bottom: 128px;
  display: flex;
}

.footer__list {
  flex-direction: column;
  gap: 16px;
  display: flex;
}

.footer__rick-img {
  width: 99px;
  height: 84px;
  position: absolute;
  top: -33px;
  left: 50px;
}
/*# sourceMappingURL=characters.1d6040df.css.map */
