body {
  font-family: "Montserrat";
}

.header {
  background: #0d171d;
  width: 100%;
  padding-top: 24px;
}

.header__list {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1208px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;

  /* position: relative; */
}

.header__btn-chracters {
  border-radius: 1000px;
  background: #a1d737;
  padding: 12px 24px;

  color: #0d171d;
  font-size: 14px;
  font-weight: 600;
}

.header__btn-episodes {
  border-radius: 1000px;
  background: #0d171d;
  padding: 12px 24px;
  border: 1px solid rgba(250, 250, 250, 0.3);

  color: #fafafa;
  font-size: 14px;
  font-weight: 600;
}

.header__search {
  padding: 12px 24px;
  background: #0d171d;
  border-radius: 1000px;
  border: 1px solid rgba(250, 250, 250, 0.3);

  color: #fafafa;
  font-size: 14px;
  font-weight: 600;
}

.header__box {
  display: flex;
  justify-content: space-between;
}

.hero {
  background: #0d171d;
  padding-bottom: 112px;
}

.hero__text {
  color: #fafafa;
  max-width: 311px;
  font-size: 16px;
  font-weight: 400;
  margin-top: auto;
  margin-bottom: auto;
}

.hero__list-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__rick {
  width: 532px;
  height: auto;
  flex-shrink: 0;
}

.hero__logo {
  width: 460px;
  height: auto;
}

.hero__box {
  display: flex;
}

.hero__scroll-down {
  width: 80px;
  height: 80px;
  background: transparent;
  border: 1px solid #fafafa80;
  border-radius: 100%;
  margin-left: auto;
  margin-top: auto;
}

.characters__title-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 17px;
  color: #fafafa;
  font-family: Montserrat;
  background-color: #0d171d;
  border-radius: 44px;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}

.characters__title-characters {
  color: #0d171d;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}

.characters__list-title {
  display: flex;
  gap: 5px;
  align-items: center;
}

.characters__title {
  color: #111;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.characters__subtitle {
  max-width: 648px;
  color: #111;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}

.characters__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 64px;
}

.characters__line {
  width: 649px;
  height: 0px;
  border: 1px solid rgba(17, 17, 17, 0.2);
}

.characters__img {
  width: 504px;
  height: 644px;
  margin-top: 64px;
}

.characters__box-flex {
  display: flex;
  gap: 32px;
}

.buttons__btn {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  border-radius: 25px;
  border: none;
  padding: 14px 24px;
}

.buttons__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.buttons__item:nth-child(1) .buttons__btn{
  color: #111;
  background-color: #A1D737;
  transform: translate(-27px, -10px);
  margin-left: 70px;
}

.buttons__item:nth-child(2) .buttons__btn{
  color: #111;
  background-color: #DAF836;
  transform: rotate(31.266deg) translate(-85px, 15px);
}

.buttons__item:nth-child(3) .buttons__btn{
  color: #A1D737;
  background-color: #0D171D;
  transform: rotate(17.072deg);
}

.buttons__item:nth-child(4) .buttons__btn{
  color: #111;
  background-color: #DAF836;
  transform: rotate(132.001deg);
}

.buttons__item:nth-child(5) .buttons__btn{
  color: #111;
  background-color: #DAF836;
  transform: rotate(34.61deg);
}

.buttons__item:nth-child(6) .buttons__btn{
  color: #111;
  background-color: #DAF836;
  transform: rotate(148.834deg);
}

.buttons__item:nth-child(7) .buttons__btn{
  color: #FAFAFA;
  background-color: #0D171D;
  margin-left: 90px;
  transform: translate(-100px, -9px);
}

.buttons__item:nth-child(8) .buttons__btn{
  color: #111;
  background-color: #A1D737;
}

.buttons__item:nth-child(9) .buttons__btn{
  color: #111;
  background-color: #A1D737;
  transform: rotate(180deg);
}

.buttons__item:nth-child(10) .buttons__btn{
  color: #FAFAFA;
  background-color: #0D171D;
}

.buttons__item:nth-child(11) .buttons__btn{
  color: #DAF836;
  background-color: #0D171D;
  transform: rotate(180deg);
}

.buttons__item:nth-child(12) .buttons__btn{
  color: #111;
  background-color: #A1D737;
  transform: rotate(180deg);
}

.slider {
  border-radius: 100px;
  background: #0d171d;
  padding-top: 100px;
  padding-bottom: 108px;
  margin-top: 161px;
}

.slider__title {
  max-width: 610px;
  color: #fafafa;
  font-size: 44px;
  font-weight: 600;
}

.slider__span-explore {
  text-align: center;
  padding: 0px 10px 0 10px;
  max-width: 610px;
  color: #fafafa;
  font-size: 44px;
  font-weight: 600;
  border-radius: 44px;
  background: #a1d737;
}

.slider__img {
  width: 278px;
  height: 314px;
  flex-shrink: 0;
  border: 2px solid red;
  border-radius: 5px;
}

.slider__list {
  display: flex;
  gap: 24px;
}

.slider__btn {
  display: block;
  padding: 12px 24px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 1000px;
  background: #a1d737;
  border: none;

  color: #0d171d;
  font-size: 14px;
  font-weight: 600;
  margin-top: 44px;
  margin-left: auto;
}

.footer {
  margin-top: 64px;
}

.footer__buttons {
  width: 225px;
  height: 107px;
}

.footer__text {
  color: #111;
  font-size: 16px;
  font-weight: 400;
}

.footer__networks {
  width: 36px;
  height: 36px;
}

.footer__btn-network {
  border: 1px solid rgba(17, 17, 17, 0.2);
  padding: 10px;
  border-radius: 15px;
}

.footer__privacy {
  color: rgba(17, 17, 17, 0.4);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.footer__btn-networks {
  display: flex;
  gap: 32px;
}

.footer__box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 308px;
  margin-bottom: 128px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
